.registration .notice {
  padding: 10px 0;
  border-bottom: solid 1px #0f0f0f;
  margin-bottom: 10px; }
.registration .input-row {
  padding-bottom: 10px; }
  .registration .input-row .input-name {
    display: inline-block;
    width: 30%;
    min-width: 170px;
    font-weight: bold; }

input[type=text] {
  background-color: #212121;
  border: 0;
  font-size: 1em;
  font-family: 'Open Sans';
  padding: 2px 5px 2px 5px;
  color: white;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  border-bottom: solid 3px #212121; }
  input[type=text]:focus {
    border-bottom: solid 3px #268bd2; }
