body {
  background-color: black;
  color: white;
  font-family: 'verdana';
}

.btn {
  $btn-bg: green;
  $btn-height: 30px;
  line-height: $btn-height;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  background-color: $btn-bg;
  vertical-align: middle;

  &:hover {
    background-color: darken($btn-bg, 10%);
  }

  .material-icons {
    position: relative;
    top: -3px;
  }
}

.btn-group {
  $btn-spacing: 5px;

  .btn {
    &:first-child {
      margin-left: 0;
    }

    margin-left: $btn-spacing;
  }
}

.upload-input {
  display: none;
}


.material-icons {
  vertical-align: middle;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
