@import "mixins.scss";

$sidebar-width: 200px;
$footer-height: 30px;

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

html {
  height: 100%;
}

body {
  display: inline;
  font-size: 100%;

  font-family: 'Open Sans';
  background-color: $background-color;
  text-rendering: 'optimizeLegibility';
  color: $text-color;
  // background:
  // linear-gradient($colora, transparent),
  // linear-gradient(-45deg, $colorb, transparent),
  // linear-gradient( 45deg, $colora, transparent);
  background-blend-mode: multiply;
}

#app {
  display: flex;
	width: 100%;
  min-height: 100%;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.shadow {
  text-shadow: 2px 2px 5px black;
}

#header {
  $header-height: 50px;
  height: $header-height;
  line-height: $header-height;
  font-size: 1.5rem;
  padding-left: 10px;
  color: white;

  font-weight: bold;
  font-family: 'Open Sans';

  .sub-header {
    float: right;
    padding-right: 10px;
    font-size: 1.2rem;
  }
}

#sidebar-fixed {
  position: fixed;
  width: $sidebar-width;
}

#sidebar {
  @include user-select(none);
	min-width: $sidebar-width;
  margin: 5px;
  margin-top: 50px;
}

#content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 800px;
  min-height: 100%;
}

#content {
  min-height: 100%;
  flex-grow: 1;
}

#footer {
  width: 100%;
  border-top: solid 1px $border-color;
  padding: 5px 0;
  overflow: hidden;
}

.btn {
  @include user-select(none);

  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 0.7em;
  color: white;

  border-radius: 4px;
  line-height: $btn-height;
  cursor: pointer;
  padding: 0 5px;
  display: inline-block;
  background-color: $btn-bg;
  vertical-align: middle;

  &:hover {
    background-color: darken($btn-bg, 3%);
    box-shadow: 2px 2px 5px darken($background-color, 10%);
  }

  .material-icons {
    position: relative;
    font-size: 1.2rem;
    top: -1px;
    left: -1px;
  }
}

.btn-group {
  $btn-spacing: 5px;

  .btn {
    &:first-child {
      margin-left: 0;
    }

    margin-left: $btn-spacing;
  }
}

.material-icons {
  vertical-align: middle;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.center {
  text-align: center;
}

.text-tiny {
  text-transform: uppercase;
  font-size: 0.6em;
}
