body {
  background-color: black;
  color: white;
  font-family: 'verdana'; }

.btn {
  line-height: 30px;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  background-color: green;
  vertical-align: middle; }
  .btn:hover {
    background-color: #004d00; }
  .btn .material-icons {
    position: relative;
    top: -3px; }

.btn-group .btn {
  margin-left: 5px; }
  .btn-group .btn:first-child {
    margin-left: 0; }

.upload-input {
  display: none; }

.upload-entry {
  padding: 10px;
  background-color: red; }

.material-icons {
  vertical-align: middle;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }
