@import 'mixins.scss';

#uploader {
  padding: 5px;

  .options {
    border-bottom: solid 1px $border-color;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.chunks {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-left: -5px;

  $bar-size: 20px;

  .chunk {
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
    height: $bar-size;
    margin-left: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(
      180deg,
      lighten($background-color, 6%), lighten($background-color, 1%)
    );

    &:last-child {
      margin-bottom: 0;
    }

    .text {
      padding: 3px;
      text-align: center;
    }

    .progress {
      position: relative;

      .val {
        padding: 4px 3px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
      }

      .bar {
        border-radius: 3px;
        z-index: 0;
        height: $bar-size;
        position: absolute;
        transition: width 0.2s ease;
        background-image: linear-gradient(
          0deg,
          darken($link-color, 26%), darken($link-color, 10%)
        );
      }
    }
  }
}

// This is the input field which is used to fetch files.
.upload-input {
  display: none;
}
