@import "mixins.scss";

$preview-size: 64px;

#queue {
  .upload-file {
    display: flex;
    min-height: $preview-size;
    position: relative;

    .preview {
      border-radius: 3px;
      height: $preview-size;
      width: $preview-size;
      background-color: #171717;
      margin-right: 5px;
    }

    .container {
      flex-grow: 1;

      .label {
        .name {
          font-size: 1.2em;
          font-weight: bold;
          border-bottom: solid 1px darken($border-color, 5%);
          color: $text-color;
          padding-bottom: 5px;
        }
      }


      .info {
        padding: 5px 0;
        .hash {
          font-family: monospace;
          &:before {
            content: 'SHA1: ';
          }
        }
        border-bottom: solid 1px darken($border-color, 5%);
        margin-bottom: 5px;
      }

      .state {
        font-size: 0.7em;
      }
    }

    .btn-group {
      text-align: right;
    }

    .state {
      position: absolute;
      right: 5px;
      top: 5px;
      // float: right;
    }

    padding: 5px;
    border: solid 1px darken($background-color, 10%);
    background-color: darken($background-color, 2%);
    border-radius: 4px;
    margin-bottom: 5px;
  }
}
