#uploader {
  padding: 5px; }
  #uploader .options {
    border-bottom: solid 1px #0f0f0f;
    padding-bottom: 5px;
    margin-bottom: 5px; }

.chunks {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 5px;
  border-top: solid 1px #020202;
  padding-top: 5px; }
  .chunks .chunk {
    border-radius: 3px;
    color: white;
    box-sizing: border-box;
    height: 20px;
    margin-bottom: 5px;
    background-image: linear-gradient(180deg, #232323, #171717); }
    .chunks .chunk:last-child {
      margin-bottom: 0; }
    .chunks .chunk .text {
      padding: 3px;
      text-align: center; }
    .chunks .chunk .progress {
      position: relative; }
      .chunks .chunk .progress .val {
        padding: 4px 3px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5; }
      .chunks .chunk .progress .bar {
        border-radius: 3px;
        z-index: 0;
        height: 20px;
        position: absolute;
        transition: width 0.2s ease;
        background-image: linear-gradient(0deg, #124162, #1e6ea7); }

.upload-input {
  display: none; }
