@import "mixins.scss";

$alert-bg: #5BA504;
$error-bg: #c4000a;

#alerts {
  position: fixed;
  bottom: 70px;
  right: 10px;

  .box {
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    width: 300px;
    border: solid 1px #E8B86C;
    background-color: #E5D4A8;
    color: #947138;
  }

  .close {
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;

    i {
      margin-right: 0;
      font-size: 0.8rem;
    }
  }

  .header {
    padding-bottom: 2px;
    border-bottom: dotted 1px #947138;
    margin-bottom: 2px;
    i {
      margin-right: 4px;
      @include user-select(none);
      font-size: 0.9rem;
    }
  }

  .alert, .error {
    position: relative;
  }

  .alert {
    // background-color: $alert-bg;
  }

  .error {
    // background-color: $error-bg;
  }
}
