@import "mixins";

$width: 800px;
$height: 100px;
$padding: 5px;
$rows: 5;

#dashboard {
  width: $width;
  display: flex;
  min-height: 10px;
  align-content: flex-start;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .entry {
    width: 19%; // $width / $rows;
    height: $height;
    margin-bottom: 2*$padding;
    cursor: pointer;
    background-position: center center;
    background-color: #000608;
    border-radius: 1px;
    position: relative;

    .text {
      position: absolute;
      left: 0;
      top: 40%;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    &:hover {
      background-color: $header-bg;
      background-scale: cover;

      .content {
        .title {
          display: block;
        }
      }
    }

    .content {
      overflow: hidden;
      height: $height;
      position: relative;

      .title {
        display: none;
        background-color: black;
        white-space: pre;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
