@import "mixins.scss";

#files {
  width: 100%;
  .table {
    .name {
      flex-grow: 1;
      min-width: 50%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .size {
      max-width: 13%;
    }

    .options {
      max-width: 14%;
    }
  }
}
