@import "mixins.scss";

$height: $header-height;
$bg: #5ba504;
$fg: white;

#header {
  @include user-select(none);

  width: 100%;
  margin-top: 10px;

  .left {
    flex-grow: 1;
  }

  .right {
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  // The ZQZ
  .banner {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }

  // The current part of the website the user is on.
  .section {

  }

  // Menu Items.
  .menu {

  }

  // User info
  .auth {

  }
}

