@import "mixins";

$height: $header-height;

#header {
  background-color: $header-bg;
  color: white;

  padding: 10px 0;

  .banner {
    font-weight: bold;
    margin-right: 10px;
    @include user-select(none);
    cursor: pointer;
  }

  // The current part of the website the user is on.
  .section { }
  // Menu Items.
  .menu {
    @include user-select(none);
  }
  // User info
  .auth { }
}

