@import "mixins";

.login-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.login {
  $padding: 30px;
  $width: 300px;

  width: $width;
  padding: $padding;
  background-color: $inner-bg;
  box-shadow: 0 0 10px -4px $box-shadow-color;
  border: solid 1px $border-color;
  border-radius: 2px;
  margin: 0 auto;

  $adjusted-width: $width - $padding + 8px;

  .group {
    margin-bottom: 10px;
    width: 100%;
  }

  input[type=text], input[type=password] {
    font-family: monospace;
    margin-top: 3px;
    padding: 6px 8px;
    display: block;
    width: 100%;
  }

  .submit {
    margin-top: 15px;

    i {
      position: relative;
      top: -1px;
    }

    $submit-padding: 10px;
    width: 100%;
    background-color: $border-color;
    text-align: center;
    color: white;
    border-radius: 3px;
    box-sizing: border-box;
    padding: $submit-padding;
    cursor: pointer;
    box-shadow:
      inset 1px 1px 0px lighten($border-color, 10%),
      inset -1px -1px 0px darken($border-color, 7%);

    &:hover {
      background-color: darken($border-color, 2%);
    }
  }
}
