@import "mixins.scss";

.menu {
  overflow: hidden;
  font-weight: normal;

  .item {
    $border-size: 6px;

    display: inline-block;
    cursor: pointer;
    padding: 0 10px;
    text-shadow: 0 0 7px $text-shadow-color;
    height: $header-height - $border-size;
    line-height: $header-height - $border-size;

    &:hover {
      text-shadow: 0 0 12px $text-hover-color;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }
  }
}
