@import "mixins.scss";

.menu {
  overflow: hidden;
  font-family: 'Lato';
  font-weight: normal;

  .item {
    $border-size: 6px;
    display: inline-block;
    cursor: pointer;
    padding: 0 30px;
    margin-top: $border-size;
    height: $header-height - $border-size;
    line-height: $header-height - $border-size;

    &:hover {
      border-bottom: inset $border-size white;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
