@import "mixins";

.table {
  .thead {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;

    .th {
      font-weight: bold;
      flex-grow: 1;
    }
  }

  .tbody {
    .tr {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      border-bottom: solid 1px $header-bg;
      padding: 1px;
    }

    .td {
      flex-grow: 1;
    }

    .tr {
      &:hover {
        background-color: $header-bg;
        border-bottom: solid 1px lighten($header-bg, 5%);
        color: white;
      }

      margin-bottom: 5px;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
