@import 'mixins.scss';

// This is the input field which is used to fetch files.
.upload-input {
  display: none;
}

.checkbox-container {
  margin-left: 10px;
  line-height: 25px;
  @include user-select(none);
}

.checkbox {
  margin-left: 10px;
  position: relative;
  top: -2px;
  $size: 20px;
  background-color: $header-bg;
  color: white;
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &.active {
    &:after {
      float: left;
      width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
      content: '✓';
      font-size: 20px;
    }
  }
}

#uploader {
  min-width: 800px;

  .bar {
    .container {
      flex-direction: row;
    }
  }

  .buttons { }

  .settings {
    text-align: right;
  }
}

.uploads .file {
  margin-top: 5px;
}

.chunks {
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 5px;

  $bar-size: 20px;

  .chunk {
    color: white;
    box-sizing: border-box;
    height: $bar-size;
    margin-bottom: 5px;
    background-color: $header-bg;

    &:last-child {
      margin-bottom: 0;
    }

    .text {
      padding: 3px;
      text-align: center;
    }

    &.error {
      background-image: linear-gradient(
      180deg,
      desaturate(darken(red, 20%), 30%),
      desaturate(darken(red, 30%), 30%)
      );
    }

    .progress {
      position: relative;

      .val {
        padding: 4px 3px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
      }

      .bar {
        border-radius: 3px;
        z-index: 0;
        height: $bar-size;
        position: absolute;
        transition: width 0.2s ease;
        background-image: linear-gradient(
          0deg,
          darken($link-color, 26%), darken($link-color, 10%)
        );
      }
    }
  }
}
