@import 'mixins.scss';

#uploader {
  min-width: 800px;

  .options {
    border-bottom: solid 1px $border-color;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

// This is the input field which is used to fetch files.
.upload-input {
  display: none;
}
